---
import { contentfulClient } from "../../../lib/contentful";
import type { Subcategory } from "../../../lib/contentful";

export async function getStaticPaths() {
const subcategories = await contentfulClient.getEntries<Subcategory>({
    content_type: "subcategory",
});
const prodSubCategories = subcategories.items.map((item) => {
  const { name, headerNav, parentCategory } = item.fields;
  return {
        Params: {
            name: name,
            headerNav: headerNav,
            parentCategory: parentCategory
        },
        Props: {
            prodSubCategories: prodSubCategories
        }
    }
});
};

const { name, headerNav, parentCategory } = Astro.params; // params passed in `getStaticPaths`
const { prodSubCategories } = Astro.props; // props passed in `getStaticPaths`
---

<h1>Subcategory Listing</h1>
<ul class="cat-nav">
  {prodSubCategories.map((subcats) => (
  (subcats.headerNav) &&
  <li>
      <a href={`/our-range/${subcats.parentCategory}/${subcats.name}/`}>
      <h3>{subcats.name}</h3>
      </a>
  </li>
  ))}
</ul>