---
import Layout from "../layouts/Layout.astro";
import Homehero from "../components/homehero.astro";
import CategoryCards from "../components/CategoryCards.astro";

const pageTitle = "I and J";
---
<title>{pageTitle}</title>

  <Layout>
    <Homehero />
	<CategoryCards />
  </Layout>



