---
// This is the Home page.
// Shows all avaialble categories via CategoryCards components.
// (Will) Show Product and Recipe carousels.

import Layout from "../layouts/Layout.astro";
import Homehero from "../components/homehero.astro";
import CategoryCards from "../components/CategoryCards.astro";
import ProdCarousel from "../components/ProdCarousel.astro";

const pageTitle = "I and J";
---
<title>{pageTitle}</title>

<Layout>
  <Homehero />
  <CategoryCards />
  <ProdCarousel />
</Layout>

<style>
  :global(main) {
    background-image: none;
  }
</style>

