<div class="copyright-wrapper">
    <div class="copyright">
        <p>© Simplot Australia Pty Ltd. All rights reserved.</p>
    </div>
</div>

<style>
    .copyright-wrapper {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    p {
        color: black;
        font-size: 12px;
    }
</style>