<a href="/">
    <img src="https://simplot-media.azureedge.net/-/media/project/sapl/brands/australia/iandj/images/logos/brand-small.jpg?h=450&iar=0&w=600&rev=42050e2b08674bc6bf2e9edd066e878d&hash=0A802625D6E74D5D0968F70EAB04285F" class="logo" alt="logo">  
</a>

<style lang="scss">
.logo {
    display: flex;
    align-items: center;
    width: 55px;
}
@media (min-width: 768px) {
    .logo {
    width: 80px;
    }
}
</style>
