---
import '../styles/global.css';

import HeaderNav from '../components/headerNav.astro';
import FooterNav from '../components/footerNav.astro';
import Copyright from '../components/copyright.astro';

const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>{pageTitle}</title>
  </head>
  <body>
	<header class="wrapper header-nav">
		<HeaderNav />
	</header>
	<main>	
		<div class="wrapper main-container">	
			<slot />	
		</div>
    </main>
	<footer class="wrapper footer-nav">
		<FooterNav />
		<Copyright />
	</footer>
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  </body>
</html>


<style lang="scss" is:global>
	.wrapper {
		width: calc(100% - 2rem);
		max-width: 1110px;
		margin-inline: auto;
		margin: auto;
	}
	.main-container {
		display: flex;
		flex-direction: column;
	}
	header {
    	height: 47px;
	}
 	.header-nav {
		margin: 0 auto;
	} 
	.footer-nav {
		margin: 40px auto;
	}
	.breadcrumbs ol {
		margin: 20px 0 !important;
	}
	.breadcrumbs__item {
		a {
		text-decoration:none !important;
		color: black !important;
		font-size: 12px !important;
		}
		&::after {
      		content: '>' !important;
			font-size: 12px !important;
			margin: 0 0.5rem !important;
    	}
	}
	.breadcrumbs__item:last-child::after {
		content: "" !important;
	}

	
	@media (min-width: 768px) {
		header {
			height: 77px;
		}
	}
</style>

